streamlit
pandas
duckdb
duckdb-engine
faiss-cpu
langchain
langchain-community
langchain-huggingface
huggingface-hub
transformers>=4.39.0
tokenizers>=0.19.1
torch==2.1.2
sentence-transformers==2.2.2
google-generativeai
